
@{
    ViewBag.Title = "Pedidos";
}

<h2>Gestão de Pedidos - Selecione uma opção</h2>

<ul>
    <li>@Html.ActionLink("Incluir novo pedido", "Incluir")</li>
    <li>@Html.ActionLink("Listar pedidos por cliente", "Listar")</li>
</ul>

