
@{
    ViewBag.Title = "Clientes";
}

<h2>Gestão de clientes - Escolha uma opção</h2>

<ul>
    <li>@Html.ActionLink("Incluir novo cliente", "Incluir")</li>
    <li>@Html.ActionLink("Listar Clientes","Listar")</li>
</ul>

